body {
  margin: 0;
  background-color: #171b25 !important;
}
.navbar,
.bg-primary {
  background-color: #1a202c !important;
  --bs-bg-opacity: 1;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
  padding: 10px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2d3748;
  border: 0px !important;
  padding: 10px;
}
.dropdown-menu a span.menuSubTxt {
  font-size: 12px;
  color: #59667a;
  display: block;
}
.dropdown-item,
.dropdown-item span {
  width: 260px;
  padding: 5px 0 5px 35px;
}

.rightSide,
.rightSide span {
  width: 150px !important;
  padding: 5px 0 5px 5px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #59667a;
  border-radius: 6px;
}
.dropdown-item:focus,
.dropdown-item:hover span {
  color: #8a98ac !important;
}
.dropdown-menu a span.maintxt,
.dropdown-menu a:hover span.maintxt {
  font-size: 20px;
  color: #fff !important;
}

.menu_ul_bg {
  width: 300px;
  background-color: #1f2835 !important;
}
.menu_ul_bg li {
  position: relative;
  cursor: pointer;
}
.menu_ul_bg li img.icon {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 25px;
}
.navbar-nav li {
  padding: 0 10px;
}

.css-9gsb64 {
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  color: inherit;
}
.css-70qvj9 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-1jgo296 {
  padding-left: 6px;
  display: block;
  max-height: 48px;
}
img,
video {
  max-width: 100%;
  height: auto;
}
.css-1ds0rzy {
  margin-inline: 32px;
}
.css-p5g4mq {
  width: 1px;
  background: #2d3748;
  height: 32px;
}
.display_inBlk {
  display: inline-block;
}
.css-dm5iub {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  display: inline-block;
}
.arrow-child-icon {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: none !important;
  overflow: hidden;
  height: 0;
}
.css-q7h6ru {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.css-5ep8dd {
  cursor: pointer;
  width: 22px;
  height: 22px;
}
.css-1f2j16u {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.css-1e0mn9w {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 15%;
}
.css-h7tct2 {
  margin-inline: 6px;
  width: 10px;
  height: 10px;
}

.arrow-child-animation {
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 15%;
  top: 43%;
  right: 0px !important;
}

.byTheCommu {
  font-size: 20px;
  font-weight: 500;
  color: #cd59c2;
  letter-spacing: 4px;
}
.centralisedExc {
  font-size: 64px !important;
  display: flex;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.killerMas {
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}
.topAlign {
  margin-top: 50px;
}
.below_killer {
  font-size: 16px;
  color: #a0aec0;
  margin-top: 12px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
}
.openExcBtn button {
  height: 48px;
}
.openExcBtn {
  width: 48%;
  border-radius: 16px;
  background: #00000000;
  cursor: pointer;
  z-index: 14;
  display: inline-block;
}
.connectBtn {
  display: flex;
  width: 48%;
  z-index: 20;
  cursor: pointer;
  margin-right: 8px;
  display: inline-block;
}

.openExcBtn button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 100%;
  line-height: 1.2;
  border-radius: 16px;
  font-weight: 600;

  height: 44px;
  min-width: var(--chakra-sizes-10);
  min-width: 2.5rem;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #00000000;
  color: #cd59c2;
  border: 2px solid;
}

.connectBtn button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 100%;
  line-height: 1.2;
  border-radius: 16px;
  font-weight: 600;
  border: 0px;
  height: 44px;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #cd59c2;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fastGrowing {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.fastGrowing_below {
  margin-top: 17px;
  color: #a0aec0;
  text-align: center;
}
.fastGrowing_belowMas {
  margin-top: 120px;
}
.totalLockedMas {
  margin-top: 64px !important;
  position: relative;
}
.css-hax02v {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-top: 16px;
}
.border-gradient:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  padding: 3px 3px 0;
  background: linear-gradient(180deg, #cd59c2, #1d232e);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.css-19wqdpn {
  margin-inline: auto;
  height: 200px;
}
.css-sim742 {
  display: flex;
}
.css-sim742 {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgb(45, 55, 72) -66.67%,
    rgba(45, 55, 72, 0) 100%
  );
  padding-top: 32px;
  padding-inline: 25px;
  padding-bottom: 18px;
  border-radius: 24px;
  text-align: center;
}
.css-12ps3fs {
  font-size: 20px;
  color: #cd59c2;
  font-weight: 400;
}
.css-ut3ev8 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.css-15h5urb {
  margin-top: 0px;
  margin-inline: unset;
}
.css-19wqdpn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  margin-inline: 16px;
  border-radius: 24px;
  height: 196px;
}
.css-1n1rwjg {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.css-x61b8m,
.css-n2svew {
  display: none;
}
.css-1wl22v7 {
  display: block;
  top: 0%;
}
.css-111bnrr {
  display: block;
  top: -9%;
}
.css-x61b8m {
  display: none;
  position: absolute;
  z-index: -1;
  top: -5%;
  /* left: -10%; */
  width: 100%;
}
.css-n2svew {
  display: block;
  position: absolute;
  z-index: -1;
  top: -5%;
  left: 0px;
  width: 100%;
}
.css-1wl22v7 {
  position: absolute;
  z-index: -1;
  top: 0%;
  right: 0px;
  width: 100%;
}
.css-111bnrr {
  display: none;
  position: absolute;
  z-index: -1;
  top: -9%;
  width: 100%;
}
.css-1kogft7 {
  margin-top: 180px;
  padding-bottom: 150px;
}
.css-6ishpp {
  width: 221px;
  height: 221px;
  background: rgb(72, 96, 103);
  filter: blur(200px);
  position: absolute;
  top: 0px;
  left: -96px;
}
.css-1x1v05p {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.css-1cmq4yq {
  background-image: url(images/landing-on-chain-trading-1.svg);
  padding-top: 150px;
  padding-bottom: 145px;
  width: 100%;
}
.css-1cmq4yq {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  padding-top: 54px;
  padding-bottom: 79px;
  position: relative;
}
.css-1dh58gp,
.css-lky6is,
.css-191ef0o {
  display: block;
}

.curveBg {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  z-index: 9;
  position: relative;
  background: rgb(23, 27, 37);
  margin: 100px 0 0 0;
}
.css-191ef0o {
  width: 33px;
  height: 33px;
  display: none;
  border-radius: 50%;
  border: 6px solid rgb(167, 230, 210);
  position: absolute;
  right: 9%;
  top: 80%;
}
.css-1rzi3ol {
  font-size: 16px;
  margin-inline: 26px;
  margin-top: 24px;
}
.css-1rzi3ol {
  font-weight: 400;
  color: rgb(113, 128, 150);
  font-size: 14px;
  text-align: center;
  margin-inline: 26px;
  margin-top: 40px;
  max-width: 600px;
}

.css-1cmq4yq {
  background-image: url(images/landing-on-chain-trading-1.svg);
  padding-top: 150px;
  padding-bottom: 145px;
}
.css-1dh58gp,
.css-lky6is,
.css-191ef0o {
  display: block;
}
.css-1brzv32 {
  font-size: 48px;
  color: rgb(23, 25, 35);
  font-weight: 700;
}
.css-1rzi3ol {
  font-size: 16px;
  margin-inline: 26px;
  margin-top: 24px;
}
.css-rbt7fo {
  font-weight: 500;
  color: #cd59c2;
  font-size: 16px;
  margin-top: 9px;
}
.css-ppca6b {
  border-radius: 16px;
  height: 56px;
  width: 380px;

  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;

  line-height: 1.2;
  border-radius: 12px;
  font-weight: 500;

  min-width: 2.5rem;
  font-size: 16px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #cd59c2;
  color: #fff;
  margin-top: 24px;
  border: 0px;
}
.css-1dh58gp {
  width: 33px;
  height: 33px;

  border-radius: 50%;
  border: 6px solid rgb(167, 230, 210);
  position: absolute;
  right: 10%;
  top: 20%;
}
.css-lky6is {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 6px solid rgb(167, 230, 210);
  position: absolute;
  left: 7%;
  top: 70%;
}
.css-q4qa8f {
  display: flex;
  background: #cd59c2;
}
.divider-style {
  height: 3px;
  width: 100%;
  box-shadow: 0 0 28px 3px #cd59c2;
}
.css-sz0ygj {
  text-align: center;
  margin-top: 82px;
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: 700;
  color: #fff;
}
.css-1cb7prk {
  margin-bottom: 20px;
  text-align: center;
}
.css-a4et35 {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 20px;
}
.css-1fdq3u3 {
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  color: inherit;
  width: 20%;
  margin-inline: auto;
}
.css-1g4yje1 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.css-nvpivh {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: end;
  background: rgba(23, 25, 35, 0.5);
  width: 100%;
  position: absolute;
  height: 45%;
  bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: #a0aec0;
}
.css-1uffe4o {
  position: relative;
  min-height: 510px;
  width: 100%;
}
.css-hboir5 {
  display: flex;
  width: 100%;
}
.css-17hovqr {
  display: flex;
  width: 100%;
  position: relative;
}
.css-gcvgqh {
  display: flex;
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%;
}
.css-eypwkz {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 100%;
  line-height: 1.2;
  border-radius: 16px;
  font-weight: 500;

  height: 42px;
  font-size: 14px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #cd59c2;
  margin-bottom: 60px;
  color: #fff;
  margin-top: 10px;
  border: 0px;
}

.css-13i5pkh {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-inline: auto;
  margin-bottom: 20px;
  position: relative;
}
.border-gradient:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  padding: 3px 3px 0;
  background: linear-gradient(180deg, #cd59c2, #1d232e);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.css-gilxfu {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.css-lo3pan {
  flex-direction: row;
  height: 330px;
  padding-inline: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(
    rgba(45, 55, 72, 0.66),
    rgba(45, 55, 72, 0)
  );
  border-radius: 24px;
  margin-bottom: 6px;
}
.css-ucjxk0 {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  z-index: 9;
  position: relative !important;
  background: rgb(23, 27, 37);
}

.css-ii1cf0 {
  width: 50%;
  padding-left: 40px;
  font-size: 42px;
  line-height: 46px;
  display: flex;
  border-left: #cd59c2 6px solid;
  font-weight: 700;
  /* word-break: break-word; */
}
.css-1e0o2wd {
  margin-top: 0px px;
  width: 50%;
}
.css-1e0o2wd {
  display: flex;
  font-size: 16px;
  color: #a0aec0;
}

.css-2r528h {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}
.css-1j4845p {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-inline: auto;
}
.description-video-animate {
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
.css-t1mfcg {
  display: flex;
  height: 20px;
  margin-inline: auto;
}
.css-fwa4tx {
  display: flex;
  width: 12px;
  height: 12px;
  margin-inline: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #cd59c2;
  z-index: 9;
}
.css-1e21c8u {
  display: flex;
  width: 12px;
  height: 12px;
  margin-inline: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #4a5568;
  z-index: 9;
}
.css-1e21c8u {
  display: flex;
  width: 12px;
  height: 12px;
  margin-inline: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #4a5568;
  z-index: 9;
}
.css-hcicey {
  width: 100%;
}

.css-esbmbf {
  width: 80%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-inline: auto;
}
.css-17vop0s {
  cursor: pointer;
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  color: inherit;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-inline: 6%;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 300px;
  z-index: 9;
}
.item-detail-right {
  background: linear-gradient(
    180deg,
    rgba(0, 255, 209, 0.32) -66.67%,
    rgba(45, 55, 72, 0.55)
  );
  border-radius: 24px;
  border: 3px solid #cd59c2;
  position: relative;
  box-shadow: 0 0 10px #cd59c2;
  animation: animateRightToLeft 1.5s;
  -webkit-animation: animateRightToLeft 1.5s;
  cursor: pointer;
  text-decoration: none !important;
}
.css-u15w9w {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  text-align: center;
  z-index: 9;
}
.css-1g9jqcx {
  font-size: 42px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}
.css-3y6zjr {
  font-size: 16px;
  color: rgb(144, 173, 183);
}
.css-ce5db3 {
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  margin-top: 12px;
  font-size: 16px;
  color: #cd59c2;
  cursor: pointer;
}
.css-u15w9w {
  /* display: flex; */
  display: none !important;
  flex-direction: column;
  margin-inline: auto;
  text-align: center;
  z-index: 9;
}
.css-1g9jqcx {
  font-size: 42px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
}
.css-3y6zjr {
  font-size: 16px;
  color: rgb(144, 173, 183);
}
.css-ce5db3 {
  text-decoration: none;
  outline: transparent solid 2px;
  outline-offset: 2px;
  margin-top: 12px;
  font-size: 16px;
  color: #cd59c2;
  cursor: pointer;
}

.css-3dzl5r {
  max-width: 90%;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-inline: auto;
  padding-inline: 10px;
  margin-top: 30px;
}

.css-u4p24i {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.css-xkcsjf {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: inherit;
  margin-bottom: 0px;
}
.css-1xt3p3o {
  font-size: 44px;
}
.css-1xvqum8 {
  width: 70%;
  font-size: 16px;
  color: #a0aec0;
  font-weight: 500;
}
.css-1e1vsd9 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 50%;
  padding: 40px;
}
.css-15bpm0o {
  margin-top: 20px;
  padding-inline: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.css-15bpm0o {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  width: 100%;
  margin-top: 10px;
  padding-inline: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(
    rgb(45, 55, 72) -66.67%,
    rgba(45, 55, 72, 0) 100%
  );
}
.border-gradient-referral {
  position: relative;
  box-shadow: 0 -5px 10px -5px #cd59c2;
}
.border-gradient-referral:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  padding: 3px 3px 0;
  background: linear-gradient(180deg, #cd59c2, rgba(7, 126, 83, 0));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.css-1l4w6pd {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.css-3b8rhw {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 411px;
}

.css-1p5mue4 {
  font-size: 18px;
  letter-spacing: 11.2px;
  font-weight: 400;
  text-align: center;
}

.css-hxutaw {
  margin-top: 60px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.css-1smhf6x {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 30%;
}
.css-fbltns {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 190px;
  width: 100%;
  margin-bottom: 10px;
}
.css-1wkqzqu {
  width: 281px;
  height: 177px;
}
.css-s2fmp8 {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.css-r9k6uh {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
.css-h1z3e {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
}
.css-1smhf6x {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 30%;
}
.css-fbltns {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 190px;
  width: 100%;
  margin-bottom: 10px;
}
.css-102strt {
  width: 223px;
  height: 192px;
}
.css-s2fmp8 {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.css-r9k6uh {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
.css-h1z3e {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
}
.css-1smhf6x {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 30%;
}
.css-fbltns {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 190px;
  width: 100%;
  margin-bottom: 10px;
}
.css-11qi686 {
  width: 279px;
  height: 192px;
}
.css-s2fmp8 {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.css-r9k6uh {
  font-size: 26px;
}
.css-h1z3e {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #a0aec0;
}
.css-ldo4d5 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}
.css-r03kvx {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -20px;
  height: 56px;
  background: #cd59c2;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 411px;
  border-radius: 16px;
  color: #fff;
}

.css-1sjozv0 {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  background: #49005b;
  position: relative;
  z-index: 9;
}

.css-1m5ol03 {
  width: 100%;
  position: absolute;
  top: -1px;
}
.css-1wrpzpl {
  max-width: 90%;
  padding-inline: 10px;
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  margin-bottom: 280px;
  margin-top: 320px;
}
.css-fjn4fn {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 50%;
  font-size: 16px;
}

.css-1bysa3b {
  text-align: left;
  width: 75%;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.css-12fgzb1 {
  text-align: left;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: #a0aec0;
  font-size: 14px;
}
.css-ffimpb {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-inline: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: #cd59c2;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 16px;
  width: 250px;
}
.css-11lhwve {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 20%;
}

.css-17xejub {
  flex: 1 1 0%;
  place-self: stretch;
}

.css-1hbj5v0 {
  width: 75%;
}

.css-53whmz {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 24px;
  padding-inline: 20px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #718096;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 16px;
  width: 292px;
}
.css-11lhwve {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 20%;
}

.css-ldihrc {
  margin-inline: auto;
}

.css-17xejub {
  flex: 1 1 0%;
  place-self: stretch;
}

.css-1hbj5v0 {
  width: 75%;
}
.css-i31zha {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.css-1tm9roc {
  z-index: 99;
  position: absolute;
}

.size-image {
  width: 600px !important;
  height: 680px !important;
  min-width: 600px;
}

.css-ea0pfj {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  background: #00000000;
  border-radius: 16px;
}

.video-mobile-app,
source {
  background: 0 0 !important;
}
.css-1shh6lp {
  display: none;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 140px;
  width: 50%;
  font-size: 16px;
}

.css-1m6hi68 {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 292px;
  line-height: 1.2;
  border-radius: 16px;
  font-weight: 600;
  height: 44px;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #cd59c2;
  margin-inline: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #fff;
}

.css-8eq436 {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 20%;
}

.css-1uowy7d {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10px;
  text-align: left;
}

.css-1w4782p {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 292px;
  line-height: 1.2;
  border-radius: 16px;
  font-weight: var(--chakra-fontWeights-semibold);

  height: 44px;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  background: #fff;
  margin-inline: auto;
  margin-top: 24px;
  color: #718096;
  padding-top: 32px;
  padding-bottom: 32px;
}

.css-8eq436 {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 20%;
}

.css-1uowy7d {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10px;
  text-align: left;
}

.css-6aw7rj {
  width: 100%;
  position: absolute;
  bottom: -1px;
}
.chain_align {
  text-align: center;
}
.row {
  --bs-gutter-x: 0rem !important;
}

/********************************************************************************/
@media (max-width: 576px) {
  .btm_alignTotal {
    margin-bottom: 250px !important;
  }
  .instAlign {
    padding-top: 25px;
    z-index: 99;
  }
  .css-sz0ygj {
    margin-top: 0 !important;
  }
  .stackAlign {
    margin-top: 150px;
  }
  .css-ii1cf0,
  .css-1e0o2wd {
    width: 100% !important;
  }
  .css-lo3pan {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    display: initial !important;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
